body {
    background-color: #46b45d;
}

#main {
    height: 200px;
    width: 400px;
    border-radius: 15px;

    margin-top: 25%;

    background-color: #019bc9;
}
#DownloadButton{
	text-align: center;
	padding-top: 70px;
}
button{
	font-family: Futura;
	font-weight: bold;
	font-size: 14pt;
	background-color: #46b45d;
	border-radius: 15px;
}